* {
    font-family: 'Robota';
}

.outer-box {
    width: 457px;
    height: 138px;
    /* background-color: red; */
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center;
}

.profile-picture {
    width: 130px;
    height: 130px;
    margin: 4px;
    margin-right: 0px;
    padding-right: 0px;
}

.details {
    margin: 0;
    margin-left: 14px;
}

.username {
    /* font: 20px robota bold #fff; */
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.description {
    margin: 0;
    margin-top: 14px;
    overflow: hidden;
    /* word-break: break-all; */
    width: 309px;
    height: 20px;
}

.icon {
    display: inline;
    width: 20px;
    height: 20px;
    margin-left: 14px;
}

.comments .icon {
    margin-left: 0px;
}

.status {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 24px;
}

.status-value {
    margin-left: 14px;
}

.retweet, .like {
    margin-left: 24px;
}

.comments, .retweet, .like {
    display: flex;
    flex-direction: row;

    font-size: 15px;
    font-weight: 400;
    color: #858991;
}